<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>N-gram Next Word Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="autocomplete-container" id="M">
        <h2>Type something (Min 2 words)...</h2>
        <input type="text" id="inputBox" placeholder="Start typing...">
        <div class="suggestions" id="suggestions"></div>
    </div>
</body>
</html>
